<!DOCTYPE html>
<html>
<head>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="chart-container" style="width: 100%; height: 80%;"></div>
<script>
    function loadChartWithData(obj,is_negative){
        fetch("https://csci-571-3550559665.wl.r.appspot.com/get_chart/"+obj)
                .then(response => {
                    return response.json();
                })
                .then(data => {
                    // Handle the JSON data

                    Highcharts.chart('chart-container',{
                        chart: {
                                backgroundColor: "#f7f6f7",
                                type: "line",
                                legend: { enabled: false },
                            },
                            title: {
                                text: data["ticker"] + " Hourly Price Variation",
                            },
                            yAxis: {
                                text: "",
                                title: "",
                                opposite: true,
                            },
                            xAxis: {
                                categories: data.results
                                .map((rec) => {
                                    let date = new Date(rec["t"]);
                                    return date.toLocaleTimeString("en-US", { hour12: false });
                                })
                                .slice(-16, -1),
                                labels: {
                                step: 3,
                                },
                            },
                            series: [
                                {
                                name:obj,
                                data: data.results.map((rec) => rec["c"]).slice(-16, -1),
                                color: is_negative == "true"? "red" : "green",
                                marker: {
                                    enabled: false,
                                },
                                showInLegend: false,
                                },
                            ],
                    });
                            })
                            .catch(error => {
                                console.error('Error fetching data:', error);
                            });

    }
</script>
</body>
</html>
